@charset "UTF-8";

body{
    --button_padding: 11px 23px;
    --button_font_size: 13px;
    --button_line_height: 16px;
    --adminbar-height: 32px;
    --site_width: 1170px;
    --margin_offset-top: 0px;
    --margin_offset-bottom: 0px;
    --margin_offset-top-no-percent: 0px;
    --margin_offset-bottom-no-percent: 0px;
    --main_padding-top: 50px;
    --main_padding-top-or-55px: 50px;
    --main_padding-bottom: 60px;
    --hundredp_padding: 30px;
    --hundredp_padding-fallback_to_zero: 30px;
    --hundredp_padding-hundred_percent_negative_margin: -30px;
    --sidebar_width: 23%;
    --sidebar_gutter: 80px;
    --sidebar_2_1_width: 19%;
    --sidebar_2_2_width: 19%;
    --dual_sidebar_gutter: 40px;
    --primary_color: #427ed1;
    --primary_color-7a: rgba(66,126,209,0.7);
    --primary_color-85a: rgba(66,126,209,0.85);
    --primary_color-2a: rgba(66,126,209,0.2);
    --header_bg_image: ;
    --header_bg_repeat: repeat;
    --side_header_width: 280px;
    --header_padding-top: 0px;
    --header_padding-bottom: 0px;
    --header_padding-left: 0px;
    --header_padding-right: 0px;
    --menu_highlight_background: #a0ce4e;
    --menu_arrow_size-width: 23px;
    --menu_arrow_size-height: 12px;
    --menu_arrow_size-width-header_border_color_condition_5: ;
    --nav_highlight_border: 2px;
    --nav_padding: 40px;
    --nav_padding-no-zero: 40px;
    --dropdown_menu_top_border_size: 2px;
    --dropdown_menu_width: 210px;
    --mainmenu_dropdown_vertical_padding: 13px;
    --menu_sub_bg_color: #ffffff;
    --menu_bg_hover_color: #f6f6f6;
    --menu_sub_sep_color: #eaeaea;
    --menu_h45_bg_color: #ffffff;
    --nav_typography-font-family: Arial, Helvetica, sans-serif;
    --nav_typography-font-weight: 400;
    --nav_typography-font-size: 14px;
    --nav_typography-font-style: ;
    --nav_typography-letter-spacing: 0px;
    --nav_typography-color: #2b2e32;
    --nav_typography-color-65a: rgba(43,46,50,0.65);
    --nav_typography-color-35a: rgba(43,46,50,0.35);
    --menu_hover_first_color: #d32e2e;
    --menu_hover_first_color-65a: rgba(211,46,46,0.65);
    --menu_sub_color: #2b2e32;
    --nav_dropdown_font_size: 14px;
    --flyout_menu_icon_font_size: 20px;
    --flyout_menu_icon_font_size_px: 20px;
    --snav_font_size: 13px;
    --sec_menu_lh: 50px;
    --header_top_menu_sub_color: #2b2e32;
    --mobile_menu_icons_top_margin: 0px;
    --mobile_menu_nav_height: 50px;
    --mobile_header_bg_color: rgb(255,255,255);
    --mobile_menu_background_color: #ffffff;
    --mobile_menu_hover_color: #f6f6f6;
    --mobile_menu_border_color: #eaeaea;
    --mobile_menu_toggle_color: #dadada;
    --mobile_menu_typography-font-family: Karla;
    --mobile_menu_typography-font-size: 14px;
    --mobile_menu_typography-font-weight: ;
    --mobile_menu_typography-line-height: 50px;
    --mobile_menu_typography-letter-spacing: 0px;
    --mobile_menu_typography-color: #2b2e32;
    --mobile_menu_typography-font-style: ;
    --mobile_menu_typography-font-size-30-or-24px: 24px;
    --mobile_menu_typography-font-size-open-submenu: var(--mobile_menu_typography-font-size, 13px);
    --mobile_menu_font_hover_color: #2b2e32;
    --menu_icon_size: 13px;
    --logo_alignment: left;
    --logo_background_color: #a0ce4e;
    --slidingbar_width: 300px;
    --slidingbar_width-percent_to_vw: 300px;
    --slidingbar_content_padding-top: 35px;
    --slidingbar_content_padding-bottom: 35px;
    --slidingbar_content_padding-left: 30px;
    --slidingbar_content_padding-right: 30px;
    --slidingbar_bg_color: #2b2e32;
    --slidingbar_divider_color: #35383c;
    --slidingbar_link_color: #eaeaea;
    --slidingbar_link_color_hover: #427ed1;
    --footer_divider_color: #35383c;
    --footer_headings_typography-font-family: Karla, Arial, Helvetica, sans-serif;
    --footer_headings_typography-font-size: 15px;
    --footer_headings_typography-font-weight: 400;
    --footer_headings_typography-line-height: 1.5;
    --footer_headings_typography-font-style: ;
    --footer_headings_typography-letter-spacing: 0px;
    --footer_headings_typography-color: #ffffff;
    --footer_text_color: #eaeaea;
    --sidebar_bg_color: #ffffff;
    --bg_image: none;
    --bg_repeat: repeat;
    --bg_color: #ffffff;
    --bg-color-overlay: normal;
    --content_bg_color: #ffffff;
    --content_bg_image: none;
    --content_bg_repeat: repeat;
    --body_typography-font-family: Karla, Arial, Helvetica, sans-serif;
    --body_typography-font-size: 15px;
    --body_typography-font-weight: 400;
    --body_typography-font-style: ;
    --body_typography-line-height: 1.87;
    --body_typography-letter-spacing: 0px;
    --body_typography-color: #494949;
    --link_color: #2b2e32;
    --link_color-8a: rgba(43,46,50,0.8);
    --h1_typography-font-family: Montserrat, Arial, Helvetica, sans-serif;
    --h1_typography-font-weight: 700;
    --h1_typography-line-height: 1.2;
    --h1_typography-letter-spacing: 0px;
    --h1_typography-font-style: ;
    --h1_typography-font-size: 50px;
    --h1_typography-color: #2b2e32;
    --h1_typography-margin-top: 0.7em;
    --h1_typography-margin-bottom: 0.7em;
    --h2_typography-font-family: Montserrat, Arial, Helvetica, sans-serif;
    --h2_typography-font-weight: 700;
    --h2_typography-line-height: 1.26;
    --h2_typography-letter-spacing: 0px;
    --h2_typography-font-style: ;
    --h2_typography-font-size: 38px;
    --h2_typography-color: #2b2e32;
    --h2_typography-margin-top: 0em;
    --h2_typography-margin-bottom: 0.25em;
    --h3_typography-font-family: Montserrat, Arial, Helvetica, sans-serif;
    --h3_typography-font-weight: 700;
    --h3_typography-line-height: 1.88;
    --h3_typography-letter-spacing: 0px;
    --h3_typography-font-style: ;
    --h3_typography-font-size: 16px;
    --h3_typography-color: #2b2e32;
    --h3_typography-margin-top: 0.30em;
    --h3_typography-margin-bottom: 0.45em;
    --h4_typography-font-family: Montserrat, Arial, Helvetica, sans-serif;
    --h4_typography-font-weight: 700;
    --h4_typography-line-height: 1.73;
    --h4_typography-letter-spacing: 0px;
    --h4_typography-font-style: ;
    --h4_typography-font-size: 15px;
    --h4_typography-color: #2b2e32;
    --h4_typography-margin-top: 1.7em;
    --h4_typography-margin-bottom: 1.5em;
    --h5_typography-font-family: Montserrat, Arial, Helvetica, sans-serif;
    --h5_typography-font-weight: 700;
    --h5_typography-line-height: 1.71;
    --h5_typography-letter-spacing: 0px;
    --h5_typography-font-style: ;
    --h5_typography-font-size: 14px;
    --h5_typography-color: #2b2e32;
    --h5_typography-margin-top: 1.67em;
    --h5_typography-margin-bottom: 1.67em;
    --h6_typography-font-family: Montserrat, Arial, Helvetica, sans-serif;
    --h6_typography-font-weight: 700;
    --h6_typography-line-height: 1.54;
    --h6_typography-letter-spacing: 0px;
    --h6_typography-font-style: ;
    --h6_typography-font-size: 13px;
    --h6_typography-color: #2b2e32;
    --h6_typography-margin-top: 2.33em;
    --h6_typography-margin-bottom: 2.33em;
    --post_title_typography-font-family: Montserrat, Arial, Helvetica, sans-serif;
    --post_title_typography-font-weight: 700;
    --post_title_typography-line-height: 36px;
    --post_title_typography-letter-spacing: 0px;
    --post_title_typography-font-style: ;
    --post_title_typography-font-size: 26px;
    --post_title_typography-color: #2b2e32;
    --post_titles_extras_typography-font-family: Montserrat, Arial, Helvetica, sans-serif;
    --post_titles_extras_typography-font-weight: 700;
    --post_titles_extras_typography-line-height: 1.5;
    --post_titles_extras_typography-letter-spacing: 0px;
    --post_titles_extras_typography-font-style: ;
    --post_titles_extras_typography-font-size: 20px;
    --post_titles_extras_typography-color: #2b2e32;
    --blog_archive_grid_column_spacing: 40px;
    --dates_box_color: #eaeaea;
    --meta_font_size: 13px;
    --portfolio_archive_column_spacing: 12px;
    --portfolio_meta_font_size: 15px;
    --social_bg_color: #f6f6f6;
    --social_bg_color-0-transparent: ;
    --sharing_social_links_icon_color: #ffffff;
    --sharing_social_links_box_color: #4e72a6;
    --sharing_social_links_boxed_padding: 8px;
    --slider_nav_box_dimensions-width: 30px;
    --slider_nav_box_dimensions-height: 60px;
    --slider_arrow_size: 14px;
    --es_caption_font_size: 20px;
    --privacy_bg_color: rgba(0,0,0,0.1);
    --privacy_color: rgba(0,0,0,0.3);
    --privacy_bar_padding-top: 15px;
    --privacy_bar_padding-bottom: 15px;
    --privacy_bar_padding-left: 30px;
    --privacy_bar_padding-right: 30px;
    --privacy_bar_bg_color: #363839;
    --privacy_bar_font_size: 13px;
    --privacy_bar_color: #8c8989;
    --privacy_bar_link_color: #bfbfbf;
    --privacy_bar_link_hover_color: #a0ce4e;
    --privacy_bar_headings_color: #dddddd;
    --image_rollover_icon_size: 24px;
    --image_rollover_text_color: #ffffff;
    --pagination_width_height: 30px;
    --pagination_box_padding-width: 16px;
    --pagination_box_padding-height: 11px;
    --pagination_border_width: 1px;
    --pagination_border_radius: 0px;
    --pagination_font_size: 13px;
    --form_input_height: 38px;
    --form_input_height-main-menu-search-width: calc(250px + 1.43 * 38px);
    --form_bg_color: #ffffff;
    --form_text_size: 13px;
    --form_text_color: #aaa9a9;
    --form_text_color-35a: rgba(170,169,169,0.35);
    --form_border_width: 1px;
    --form_border_color: #d2d2d2;
    --form_focus_border_color: #d2d2d2;
    --form_border_radius: 0px;
    --timeline_bg_color: rgba(255,255,255,0);
    --timeline_bg_color-20px-transparent: ;
    --timeline_bg_color-not-transparent: #ffffff;
    --timeline_color: #eaeaea;
    --grid_separator_color: #eaeaea;
    --qty_bg_color: #ffffff;
    --qty_bg_hover_color: #f6f6f6;
    --carousel_nav_color: rgba(0,0,0,.3);
    --carousel_hover_color: rgba(0,0,0,.4);
    --button_typography-font-family: Karla;
    --button_typography-font-weight: 700;
    --button_typography-letter-spacing: 1px;
    --button_typography-font-style: ;
    --button_text_transform: uppercase;
    --button_gradient_top_color: #427ed1;
    --button_gradient_bottom_color: #427ed1;
    --button_gradient_top_color_hover: #4c8be0;
    --button_gradient_bottom_color_hover: #4c8be0;
    --button_accent_color: #ffffff;
    --button_accent_hover_color: #ffffff;
    --button_accent_hover_color-fallback-to-transparent: #ffffff;
    --button_bevel_color: #54770f;
    --button_box_shadow: none;
    --button_border_width: 0px;
    --checklist_icons_color: #ffffff;
    --checklist_circle_color: #427ed1;
    --checklist_divider_color: #eaeaea;
    --countdown_background_color: #2b2e32;
    --countdown_counter_box_color: #427ed1;
    --countdown_counter_text_color: #ffffff;
    --countdown_heading_text_color: #ffffff;
    --icon_circle_color: #333333;
    --icon_border_color: #333333;
    --icon_color: #ffffff;
    --pricing_box_color: #62a2c4;
    --sep_color: #eaeaea;
    --tabs_bg_color: #ffffff;
    --tabs_inactive_color: #f6f6f6;
    --tabs_border_color: #eaeaea;
    --testimonial_bg_color: rgba(255,255,255,0);
    --testimonial_text_color: #808080;
    --title_border_color: #e0dede;
    --accordian_inactive_color: #333333;
    --accordian_active_color: #427ed1;
    box-sizing: border-box;
    margin: 0;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
    background-image: var(--bg_image);
    background-repeat: var(--bg_repeat);
    font-family: var(--body_typography-font-family);
    font-weight: var(--body_typography-font-weight);
    letter-spacing: var(--body_typography-letter-spacing);
    font-style: var(--body_typography-font-style,normal);
    font-size: var(--body_typography-font-size);
    line-height: var(--body_typography-line-height);
    color: var(--body_typography-color);
    background-attachment: scroll!important;
    background-color: var(--bg_color);
    background-blend-mode: var(--bg-color-overlay);
    height: auto;
    }

.header-menu {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #eaeaea;
}

.header-menu-sticky {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #eaeaea;
}

.img_logo1 {
    width: auto;
    height: auto;
}

.menu-logo
img {
    width: 125px;
}

.second-header-menu{
    border-bottom: 1px solid transparent;
    border-bottom-color: #eaeaea;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

}

@media (max-width: 1050px){
.second-header-menu {
    border-bottom: 1px solid transparent;
    border-bottom-color: #eaeaea;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    }
}

.second-menu-wrapper{
    justify-content: space-between;
    display: flex!important;
    box-sizing: border-box;
}

@media (max-width: 1050px){
.second-menu-wrapper{
    display: flex!important;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    }
}

.left-second-header{
    display: flex;
}

@media (max-width: 1050px){
.left-second-header{
height: 43px;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom-style: solid;
    border-color: #eaeaea;
    border-bottom-width: thin;
    }
}

.second-container-header{
    padding-left: 0px!important;
    padding-right: 0px!important;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    }



.vk-icon{
    content: url(../img/icons/icon-vk.svg);
    width: 16px;
    height: 16px;
    margin-right: 15px;
}

@media (max-width: 1050px){
.vk-icon{
    margin-right: 25px;
}
}

.vk-icon:hover{
  opacity: .8;
}

.facebook-icon{
    content: url(../img/icons/icon-facebook.svg);
    width: 16px;
    height: 16px;
    margin-right: 15px;
    margin-left: 4px;
}

@media (max-width: 1050px){
.facebook-icon{
    margin-right: 25px;
}
}


.facebook-icon:hover{
  opacity: .8;
}

.instagram-icon{
    content: url(../img/icons/icon-instagram.svg);
    width: 14.5px;
    height: 14.5px;
    margin-right: 15px;
    margin-bottom: 1px;
    margin-left: 2px;
}

@media (max-width: 1050px){
.instagram-icon{
    margin-right: 25px;
}
}

.instagram-icon:hover{
  opacity: .8;
}

.whatsapp-icon{
    content: url(../img/icons/icon-whatsapp.svg);
    width: 16px;
    height: 16px;
    margin-right: 15px;
    margin-left: 2px;
}

@media (max-width: 1050px){
.whatsapp-icon{
    margin-right: 25px;
}
}

.whatsapp-icon:hover{
  opacity: .8;
}

.twitter-icon{
    content: url(../img/icons/icon-twitter.svg);
    width: 16px;
    height: 16px;
    margin-right: 15px;
    margin-left: 2px;
}

@media (max-width: 1050px){
.twitter-icon{
    margin-right: 25px;
}
}

.twitter-icon:hover{
  opacity: .8;
}

svg path {
    fill:inherit;
    stroke:inherit;
    stroke-width:inherit;
}

.search-icon{
    width: 14px;
    height: 14px;
    fill: black;
    transition: all .5s ease;
    cursor: pointer;
    pointer-events: all;
}

.search-form-content{
    display: flex;
    align-items: center;
}

.search-icon-box{
    display: inline-flex;
}

.search-icon-box-sticky{
    display: inline-flex;
}

.menu-search{
    padding: 25px;
    border: 1px solid transparent;
    border-color: #eaeaea;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    transition: none;
    position: absolute;
    background : #fff;
}

.menu-search.active{
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}

.menu-search-sticky{
    padding: 25px;
    border: 1px solid transparent;
    border-color: #eaeaea;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    transition: none;
    position: absolute;
    background : #fff;
}

.menu-search-sticky.active{
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}

.menu-search.active2{
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}

.text-search{
    margin-top:0px;
    margin-bottom:0px;
}

.button-search{
    line-height: 38px;
    width: 38px;
    height: 38xp;
    background: #000;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-indent: 0;
    cursor: pointer;
    /*font-family: icomoon;*/
    font-weight: 400;
    text-shadow: none;
    /*-webkit-font-smoothing: antialiased;*/
    transition: all .2s;
    background: url(../img/icons/icon-search2.svg) no-repeat;
    background-size: contain;
    background-color: black;
}

.button-search:hover{
    background-color: #427ed1;
}

.input-search{
    border: 1px solid #d2d2d2;
    font-size: 13px;
    padding: 8px 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    height: 38px;
    color: #aaa9a9;
}

.input-search-sticky{
    border: 1px solid #d2d2d2;
    font-size: 13px;
    padding: 8px 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    height: 38px;
    color: #aaa9a9;
}

.dropdown-category-icon{
    stroke: #212529;
}


.dropdown-category-icon.active{
    stroke: #d32e2e;
}

.dropdown-category-icon-sticky{
    stroke: #212529;
}


.dropdown-category-icon-sticky.active{
    stroke: #d32e2e;
}


.search-icon:hover{
    fill: #d32e2e;
}

.header-sticky-menu{
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 3px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    pointer-events: all;
}

.sticky + .header-sticky-menu {
    padding-top: 60px;
}

.menu-text{
    color: #808080;
    font-size: 13px;
    font-family: Karla,Arial,Helvetica,sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
    text-decoration: none;
}

.indicator-dropdown{
    content: url(../img/icons/dropdown-indicator.svg);
    margin-left: 7px;
}

.indicator-dropdown-medium{
    content: url(../img/icons/dropdown-indicator.svg);
    height: 16px;
    width: 16px;
}

.container-header{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    }

@media (min-width: 1050px){
.container-header{
    max-width: 1170px;
    }
}

.menu-categories {
    justify-content: center!important;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0px;
}

@media (min-width: 1050px){
.menu-categories {
    margin-bottom: 8px!important;
    margin-top: auto;
    margin-left: auto;
    align-items: center;
}
}

@media (max-width: 1050px){
.menu-categories {
    display:none;
}
}

.hamburger-menu{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    display: none;
}

@media (max-width: 1050px){
.hamburger-menu {
    content: url(../img/icons/icon-hamburger.svg);
    display: block;
    margin-left: auto;
    cursor: pointer;
}
}

.mobile-menu-list{
    list-style: none;
    padding: inherit;
    margin: inherit;
}

.mobile-menu-item{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #eaeaea;
    padding: 0 30px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    height: 49px;

    transition-property: color,background-color,border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.mobile-menu-item-categories{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #eaeaea;
    padding-right: 45px;
    padding-left: 30px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    height: 49px;
    display: inline-block;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-between;

    transition-property: color,background-color,border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.mobile-menu-categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-highlight{
    text-decoration: none;
    line-height: 50px;
    color: #8c8989;
}

.mobile-menu-box{
    pointer-events: none;
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    max-height: 0;
}

@media (max-width: 1050px){.mobile-menu-box.active{
    pointer-events: all;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    width: auto;
    height: fit-content;
    max-height: 600px;
}
}

.mobile-submenu-item{
    list-style: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #eaeaea;
    text-decoration: none;
    cursor: pointer;
    padding: 0 50px;
    font-size: 14px;
    height: 49px;

    transition-property: color,background-color,border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.mobile-sub-menu{
    padding: 0px;
    pointer-events: none;
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    max-height: 0;
}

@media (max-width: 1050px){
.mobile-sub-menu.active {
    pointer-events: all;
    opacity: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    width: auto;
    height: fit-content;
    max-height: 300px;
}
}

.text-menu{
    color: #212529!important;
    display: block;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    height: 66px;
    border-top-style: solid;
    border-top-color: #ffffff;
    border-top-width: 2px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
}

.text-menu:hover{
    border-top-style: solid;
    border-top-color: #d32e2e;
    border-top-width: 2px;
    color: #d32e2e!important;
    transition: 0.5s all;
}

.text-menu.hover{
    border-top-style: solid;
    border-top-color: #d32e2e;
    border-top-width: 2px;
    color: #d32e2e!important;
    transition: 0.5s all;
}

.text-menu-categories{
    color: #212529!important;
    display: block;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    height: 66px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
    padding-right: 10px;
}

.text-menu-categories.active{
    color: #d32e2e!important;
}

.text-menu-categories-sticky{
    color: #212529!important;
    display: block;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    height: 66px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
    padding-right: 10px;
}

.text-menu-categories-sticky.active{
    color: #d32e2e!important;
}

.menu-category-item{
    display: flex;
    align-items: center;
    cursor:pointer;
    color: #212529!important;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    height: 66px;
    border-top-style: solid;
    border-top-color: #ffffff;
    border-top-width: 2px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
}

.menu-category-item.active{
    border-top-style: solid;
    border-top-color: #d32e2e;
    border-top-width: 2px;
    color: #d32e2e!important;
    transition: 0.5s all;
}

.menu-category-item-sticky{
    display: flex;
    align-items: center;
    cursor:pointer;
    color: #212529!important;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    height: 66px;
    border-top-style: solid;
    border-top-color: #ffffff;
    border-top-width: 2px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
}

.menu-category-item-sticky.active{
    border-top-style: solid;
    border-top-color: #d32e2e;
    border-top-width: 2px;
    color: #d32e2e!important;
    transition: 0.5s all;
}

.widget-menu-category{
    left: 0px;
    margin: 0 auto;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: opacity .2s ease-in;
    z-index: 10;
}

.widget-menu-category.active{
    pointer-events: all;
    visibility: inherit;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.widget-menu-category-sticky{
    left: 0px;
    margin: 0 auto;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: opacity .2s ease-in;
    z-index: 10;
}

.widget-menu-category-sticky.active{
    pointer-events: all;
    visibility: inherit;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.widget-menu-category-holder{
    max-width: 1170px;
    zoom: 1;
    margin: 0;
    border-top: 3px solid transparent;
    background-size: cover;
    border-top-width: 2px;
    border-color: #d32e2e;
    background-color: #ffffff;
    box-shadow: 1px 1px 30px rgb(0 0 0 / 6%);
}

.widget-menu-title{
    text-decoration: none;
    color: #2b2e32;
}

.widget-menu-box{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    zoom: 1;
    box-sizing: border-box;
}

.menu-item-doors-mk{
    border-color: #eaeaea;
    display: block;
    background-size: cover;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    width: 25%;
    min-height: 1px;
    padding-bottom: 35px;
    padding-top: 30px;
    border-right-style: solid;
    border-width: 1px;
}

.widget-menu-item-title{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.73;
    letter-spacing: 0px;
    font-style: normal;
    color: #2b2e32;
    font-size: 15px;
    margin: 0;
    padding: 0 34px 15px;
    -webkit-font-smoothing: antialiased;
}

.widget-menu-category-second-level{
    display: block;
    padding: 0 34px;
    margin-bottom: 10px;
    pointer-events: auto;
}

.imageframe-liftup{
    display: inline-block;
    position: relative;
    max-width: 100%;
    text-align: center;
}

.widget-menu-imageframe{
    opacity: 1;
    -webkit-transform: perspective(1000px) scale(1);
    transform: perspective(1000px) scale(1);
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s,-webkit-transform .35s;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    box-sizing: border-box;
    }

.widget-menu-imageframe.active{
    transform: perspective(1000px) scale(1.05);
    box-shadow: 1px 1px 20px rgb(0 0 0 / 15%);
    }

.widget-menu-imageframe-sticky{
    opacity: 1;
    -webkit-transform: perspective(1000px) scale(1);
    transform: perspective(1000px) scale(1);
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s,-webkit-transform .35s;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    box-sizing: border-box;
    }

.widget-menu-imageframe-sticky.active{
    transform: perspective(1000px) scale(1.05);
    box-shadow: 1px 1px 20px rgb(0 0 0 / 15%);
    }

.widget-menu-lightbox{
    display: inline;
    box-sizing: content-box;
    transition-property: color,background-color,border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    text-decoration: none;
}

.widget-menu-img{
    vertical-align: top;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.menu-right{
    margin-bottom: 8px;
}

@media (max-width: 1050px){
.menu-right{
    display: none;
}
}

.btn-thin-small{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-width: 1px;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0rgba(255, 255, 255, 0.15),0 1px 1pxrgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25remrgba(var(--bs-btn-focus-shadow-rgb), .5);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: -webkit-fill-available;
    height: 25px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: inherit;
    --bs-btn-color: #000;
    --bs-btn-bg: #c7c7c7;
    --bs-btn-border-color: ##a6a6a6;
    --bs-btn-hover-color: #FFF;
    --bs-btn-hover-bg: #545454;
    --bs-btn-hover-border-color: #a6a6a6;
    --bs-btn-focus-shadow-rgb: 166,166,166;
    --bs-btn-active-color: #a6a6a6;
    --bs-btn-active-bg: #a6a6a6;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #a6a6a6;
    --bs-btn-disabled-bg: #a6a6a6;
    --bs-btn-disabled-border-color: #a6a6a6;
}

.menu-user-panel{
    text-align: right!important;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 8px;
    text-decoration: none;
    height: 50px;
}

.text-href{
   text-decoration:none;
}

.menu-wrapper{
    justify-content: flex-start!important;
    align-items: center!important;
    flex-wrap: wrap!important;
    display: flex!important;
    box-sizing: border-box;
}

.menu-logo{
    display: flex;
    margin-bottom: 0!important;
        --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
    text-decoration: none!important;
    align-items: center!important;
    display: flex!important;
}

.social-container{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

@media (max-width: 1050px){
.social-container {
    margin-top: 0px;
    display: flex;
    align-items: center;
}
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.tooltip-inner {
    display: block;
    margin-top: 3px;
    padding: 5px 0;
    z-index: 10030;
    position: absolute;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    font-family: Karla,Arial,Helvetica,sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
    max-width: 200px;
    padding: 3px 8px;
    color: #d1d1d2;
    text-align: center;
    text-decoration: none;
    background-color: rgba(33,33,33,.97);
    border-radius: 4px;
    background-clip: padding-box;
    pointer-events: none;
    transition: none;
    opacity: 0;
    }

.tooltip-arrow {
    transition: none;
    opacity: 0;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    box-sizing: border-box;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: rgba(33,33,33,.97);
    }






/* Важная часть */

/*.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}*/

.user-popup {
    --form_input_height: 38px;
    --form_input_height-main-menu-search-width: calc(250px + 1.43 * 38px);
    --form_bg_color: #ffffff;
    --form_text_size: 13px;
    --form_text_color: #aaa9a9;
    --form_text_color-35a: rgba(170,169,169,0.35);
    --form_border_width: 1px;
    --form_border_color: #d2d2d2;
    --form_focus_border_color: #d2d2d2;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
    text-align: left;
    visibility: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #eaeaea;
    border-width: 1px;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 200px;
    padding: 20px;
    transition:none;
    color: black;
    opacity: 0;
}

.user-popup.active {
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}

.user-popup.activetwo {
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}


/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
    color: #2982ff;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
    color: #2982ff;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #2982ff;
    background: #2982ff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: #fff;
    color:#2982ff;
    transition: 0.5s all;
}

.wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.open-popup{
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    background: #2982ff;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
}

.input-login-user-popup{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    list-style: none;
    visibility: visible;
    font: 100% Arial,Helvetica,sans-serif;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 1px solid #d2d2d2;
    padding: 8px 15px;
    margin-right: 1%;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    height: var(--form_input_height);
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--form_bg_color);
    font-size: var(--form_text_size);
    color: var(--form_text_color);
    --dual_sidebar_gutter: 40px;
    --header_bg_image: ;
    --header_bg_repeat: repeat;
    --side_header_width: 280px;
    border-width: var(--form_border_width);
    border-color: var(--form_border_color);
    border-radius: var(--form_border_radius);
}

.input-password-user-popup{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    list-style: none;
    visibility: visible;
    font: 100% Arial,Helvetica,sans-serif;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 1px solid #d2d2d2;
    padding: 8px 15px;
    margin-right: 1%;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    height: var(--form_input_height);
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--form_bg_color);
    font-size: var(--form_text_size);
    color: var(--form_text_color);
    --dual_sidebar_gutter: 40px;
    --header_bg_image: ;
    --header_bg_repeat: repeat;
    --side_header_width: 280px;
    border-width: var(--form_border_width);
    border-color: var(--form_border_color);
    border-radius: var(--form_border_radius);
}

.input-text-user-popup2{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    list-style: none;
    visibility: visible;
    font: 100% Arial,Helvetica,sans-serif;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 1px solid #d2d2d2;
    padding: 8px 15px;
    margin-right: 1%;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    height: var(--form_input_height);
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--form_bg_color);
    font-size: var(--form_text_size);
    color: var(--form_text_color);
    --dual_sidebar_gutter: 40px;
    --header_bg_image: ;
    --header_bg_repeat: repeat;
    --side_header_width: 280px;
    border-width: var(--form_border_width);
    border-color: var(--form_border_color);
    border-radius: var(--form_border_radius);
}

.remember-checkbox{
    --grid_separator_color: #eaeaea;
    -webkit-text-size-adjust: 100%;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
    font-family: var(--body_typography-font-family);
    font-weight: var(--body_typography-font-weight);
    letter-spacing: var(--body_typography-letter-spacing);
    font-style: var(--body_typography-font-style,normal);
    --header_border_color: #eaeaea;
    --header_sticky_bg_color: rgba(255,255,255,0.987);
    --header_top_bg_color: #ffffff;
    --snav_color: #808080;
    --topmenu_dropwdown_width: 200px;
    --header_top_first_border_color: #eaeaea;
    --header_top_sub_bg_color: #ffffff;
    --header_top_menu_bg_hover_color: #f6f6f6;
    --header_top_menu_sub_sep_color: #eaeaea;
    list-style: none;
    text-align: left;
    color: #2b2e32;
    visibility: visible;
    box-sizing: border-box;
    font-size: 11px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

.button-box-enter-user{
    --main_padding-top: 50px;
    --main_padding-top-or-55px: 50px;
    --main_padding-bottom: 0px;
    --hundredp_padding: 30px;
    --hundredp_padding-fallback_to_zero: 30px;
    --hundredp_padding-hundred_percent_negative_margin: -30px;
    --sidebar_width: 23%;
    --sidebar_gutter: 80px;
    --sidebar_2_1_width: 19%;
    --sidebar_2_2_width: 19%;
    --dual_sidebar_gutter: 40px;
    --header_bg_image: ;
    --header_bg_repeat: repeat;
    --side_header_width: 280px;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
    font-family: var(--body_typography-font-family);
    font-weight: var(--body_typography-font-weight);
    letter-spacing: var(--body_typography-letter-spacing);
    font-style: var(--body_typography-font-style,normal);
    line-height: var(--body_typography-line-height);
    --header_border_color: #eaeaea;
    --header_sticky_bg_color: rgba(255,255,255,0.987);
    font-size: var(--snav_font_size);
    --header_top_bg_color: #ffffff;
    --snav_color: #808080;
    --topmenu_dropwdown_width: 200px;
    --header_top_first_border_color: #eaeaea;
    --header_top_sub_bg_color: #ffffff;
    --header_top_menu_bg_hover_color: #f6f6f6;
    --header_top_menu_sub_sep_color: #eaeaea;
    list-style: none;
    text-align: left;
    color: #2b2e32;
    visibility: visible;
    box-sizing: border-box;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}

.button-enter-user{
    -webkit-text-size-adjust: 100%;
    --header_border_color: #eaeaea;
    --header_sticky_bg_color: rgba(255,255,255,0.987);
    --header_top_bg_color: #ffffff;
    --snav_color: #808080;
    --topmenu_dropwdown_width: 200px;
    --header_top_first_border_color: #eaeaea;
    --header_top_sub_bg_color: #ffffff;
    --header_top_menu_bg_hover_color: #f6f6f6;
    --header_top_menu_sub_sep_color: #eaeaea;
    --header_top_menu_sub_hover_color: #2b2e32;
    list-style: none;
    visibility: visible;
    box-sizing: border-box;
    font: 100% Arial,Helvetica,sans-serif;
    vertical-align: middle;
    padding: 9px 20px;
    line-height: 14px;
    font-size: 12px;
    -webkit-appearance: none;
    outline: 0;
    background: var(--button_gradient_top_color);
    color: var(--button_accent_color);
    border-color: var(--button_accent_color);
    font-family: var(--button_typography-font-family);
    font-weight: var(--button_typography-font-weight);
    font-style: var(--button_typography-font-style,normal);
    letter-spacing: var(--button_typography-letter-spacing);
    border-width: var(--button_border_width);
    border-style: solid;
    text-transform: var(--button_text_transform);
    transition: all .2s;
    border-radius: 2px;
    text-decoration: none;
}

.button-enter-user.medium {
    padding: 11px 23px;
    line-height: 16px;
    font-size: 13px;
    border-radius: 2px;
    }

.button-enter-user.medium.menu {
    margin-right: 40px;
    }

.button-enter-user:hover {
    background-color: rgba(66,126,209,0.9);
}

.menu-login-box-register{
    clear: both;
    float: right;
    padding-top: 10px;
    color: #808080;
    text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
   color:    #aaa9a9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa9a9;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa9a9;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #aaa9a9;
}
