{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<!--<h1>Страница про нас</h1>-->
<div class="about-main">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark3">
        <div class="col-md-13 px-0">
            <div class="logo-about"><img class=img_logo2 src="static\img\NEWS BLOG_free-file (1).png" id="logo-about"
                                         title="logo-about" alt="Лого2">
            </div>
            <br>
            <br>
            <p class="sub-text-image-about">Актуальные новости - это всегда нужная, интересная и крайне необходимая информация без которой вряд ли кто то может представить себе хоть один день.
                Но как одной команде можно успевать создавать качественный контент в кратчайшие сроки?
                Мы - NewsBlog - быстроразвивающаяся команда предлагающая свой ресурс для ведения новостных блогов любого желающего с любой точки голубого шара.
                Свою деятельность мы начали в далёком 1994 году как разработчкики сайтов и по мере достижения определённых целей нам хотелось делать что то большее для общества.
                Мы долго продумывали все возможные пути помощи людям и сошлись на мнении что прежде всего человеку нужна информация.
                В любом деле прежде чем принять какое либо решение нужно владеть актуальными знаниями.
                Ключеваое слово здесь - актуальными, то есть новость должна появиться так скоро как это вообще возможно для того чтобы на какие либо действия оставалось больше времени.
                Но успеть получить информацию, успеть её правильно обработать и своевременно выложить задача непосильная ни одному человеку, и ни одной группе людей.
                И тут мы подумали: "А что если таких людей будет чуточку больше чем одна команда? Что если список команд будет весь мир?".
                Так появилась наша компания которая из года в год предоставляет условия для размещения новостей и прорабатывает эту идею всё лучше и лучше.
                Множество народных наград и лестных отзывов от наших клиентов лишь подтверждают что мы находимся на верном пути и мы в свою очередь стараемся сделать всё возможное и даже невозможное для обеспечения комфортного размещения информации и её распространения.
                На ближайшее будущее нами запланировано множество восхитительных идей, которые предстоит реализовать вместе с Вами.
                Вы наша поддержка, а мы Ваша опора.
                Совместными усилиями мы поможем сделать этот мир лучше!</p>
        </div>
    </div>
</div>
{% endblock %}