<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<header class="second-header-menu">
    <script type="text/javascript" src="{{ url_for('static', filename='js/Site-KD.js') }}"></script>
    <div class="menu-search" id="div2" data-some-data-attr="mydata">
        <form class="search-form" method="get" action="http://doors-kd.ru/">
            <div class="search-form-content">
                <div class="search-field">
                    <p class="text-search"><input type="text" class="input-search" name="log" id="search"
                                                  value=""
                                                  placeholder="Поиск ...">
                        <input type="hidden" name="login_box" value="true"></p>
                </div>
                <div class="search-button">
                    <p class="button-box-enter-user">
                        <input type="submit" name="submit" id="submit2" class="button-search"
                               value=" ">
                        <input type="hidden" name="redirect" value=""></p>
                </div>
            </div>
        </form>
    </div>
    <div class="menu-search-sticky" id="div3" data-some-data-attr="mydata">
        <form class="search-form" method="get" action="http://doors-kd.ru/">
            <div class="search-form-content">
                <div class="search-field">
                    <p class="text-search"><input type="text" class="input-search-sticky" name="log" id="search2"
                                                  value=""
                                                  placeholder="Поиск ...">
                        <input type="hidden" name="login_box" value="true"></p>
                </div>
                <div class="search-button">
                    <p class="button-box-enter-user">
                        <input type="submit" name="submit" id="submit3" class="button-search"
                               value=" ">
                        <input type="hidden" name="redirect" value=""></p>
                </div>
            </div>
        </form>
    </div>
    <div class="second-container-header">
        <div class="second-menu-wrapper">
            <div class="left-second-header">
                <div class="social-container">
                    <a data-tooltip="Vk" href="#" class="vk-icon"></a>
                    <a data-tooltip="Facebook" href="#" class="facebook-icon"></a>
                    <a data-tooltip="Instagram" href="#" class="instagram-icon"></a>
                    <a data-tooltip="Whatsapp" href="#" class="whatsapp-icon"></a>
                    <a data-tooltip="Twitter" href="#" class="twitter-icon"></a>
                </div>
            </div>
            <div class="user-box">
                <div class="popup__bg" id="div1" data-some-data-attr="mydata">
                    <form class="user-popup">
                        <p><input type="text" class="input-login-user-popup" name="log" id="username" value=""
                                  placeholder="Имя пользователя"></p>
                        <p><input type="password" class="input-password-user-popup" name="pwd" id="password" value=""
                                  placeholder="Пароль"></p>
                        <p class="remember-checkbox">
                            <label for="menu-login-box-rememberme">
                                <input name="rememberme" type="checkbox" id="menu-login-box-rememberme" value="forever">
                                Запомнить меня</label></p>
                        <input type="hidden" name="login_box" value="true">
                        <p class="button-box-enter-user">
                            <input type="submit" name="submit" id="submit" class="button-enter-user" value="Войти">
                            <input type="hidden" name="redirect" value=""></p>
                        <a class="menu-login-box-register" href="#" title="Запись">Запись</a>
                    </form>
                </div>

                {% if current_user.is_authenticated %}
                <a href="#">
                    <div class="menu-user-panel">
                        <span class="menu-text">Моя учётная запись</span>
                        <a class="indicator-dropdown"></a>
                    </div>
                </a>
                {% else %}
                <a class="text-href" href="#">
                    <div class="menu-user-panel">
                        <span class="menu-text">Моя учётная запись</span>
                        <a class="indicator-dropdown" href="#"></a>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<header class="header-sticky-menu">

    <div class="container-header">
        <div class="menu-wrapper">
            <a href="/" class="menu-logo">
                <img class=img_logo1 src="/static\img\logos\logo-kd-main.png"
                     title="menu-logo"
                     alt="Лого1" aria-label="Logo">
                <use xlink:href="#"></use>
            </a>

            <ul class="menu-categories">
                {% if request.endpoint == "index" %}
                <li style="padding-right:40px!important;"><a href="/" class="text-menu hover">Главная</a></li>
                {% else %}
                <li style="padding-right:40px!important;"><a href="/" class="text-menu">Главная</a></li>
                {% endif %}
                <li style="padding-right:40px!important;">
                    <div class="menu-category-item-sticky">
                        <span class="text-menu-categories-sticky">Категории</span>
                        <span aria-label="Открыть подменю Категории" aria-expanded="false">
                            <svg class="dropdown-category-icon-sticky"
                                 width="10"
                                 height="10"
                                 viewBox="0 -10 256 256"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <polyline points="208 96 128 176 48 96" fill="none" stroke-linecap="round"
                                           stroke-linejoin="round" stroke-width="24"/>
                            </svg>
                        </span>
                        <div class="widget-menu-category-sticky">
                            <div class="widget-menu-category-holder">
                                <ul role="menu" class="widget-menu-box">
                                    <li class="menu-item-doors-mk">
                                        <div class="widget-menu-item-title">
                                            <a class="widget-menu-title" href="http://doors-kd.ru/md/">Межкомнатные
                                                двери</a>
                                        </div>
                                        <div class="widget-menu-category-second-level">
                                            <div class="imageframe-liftup">
                                                <span class="widget-menu-imageframe-sticky">
                                                    <a class="widget-menu-lightbox" href="http://doors-kd.ru/md/"
                                                       target="_self" rel="noopener noreferrer">
                                                        <img src="../static/img/menu/Category-mk.jpg"
                                                             data-orig-src="../img/menu/Category-mk.jpg"
                                                             alt="" class="widget-menu-img">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="menu-item-doors-mk">
                                        <div class="widget-menu-item-title">
                                            <a class="widget-menu-title" href="http://doors-kd.ru/md/">Входные
                                                двери</a>
                                        </div>
                                        <div class="widget-menu-category-second-level">
                                            <div class="imageframe-liftup">
                                                <span class="widget-menu-imageframe-sticky">
                                                    <a class="widget-menu-lightbox" href="http://doors-kd.ru/md/"
                                                       target="_self" rel="noopener noreferrer">
                                                        <img src="../static/img/menu/Category-vd.jpg"
                                                             data-orig-src="../static/img/menu/Category-vd.jpg"
                                                             alt="" class="widget-menu-img">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="menu-item-doors-mk">
                                        <div class="widget-menu-item-title">
                                            <a class="widget-menu-title" href="http://doors-kd.ru/md/">Фурнитура</a>
                                        </div>
                                        <div class="widget-menu-category-second-level">
                                            <div class="imageframe-liftup">
                                                <span class="widget-menu-imageframe-sticky">
                                                    <a class="widget-menu-lightbox" href="http://doors-kd.ru/md/"
                                                       target="_self" rel="noopener noreferrer">
                                                        <img src="../static/img/menu/Category-furniture.jpg"
                                                             data-orig-src="../static/img/menu/Category-furniture.jpg"
                                                             alt="" class="widget-menu-img">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="menu-item-doors-mk">
                                        <div class="widget-menu-item-title">
                                            <a class="widget-menu-title" href="http://doors-kd.ru/md/">Погонажные
                                                изделия</a>
                                        </div>
                                        <div class="widget-menu-category-second-level">
                                            <div class="imageframe-liftup">
                                                <span class="widget-menu-imageframe-sticky">
                                                    <a class="widget-menu-lightbox" href="http://doors-kd.ru/md/"
                                                       target="_self" rel="noopener noreferrer">
                                                        <img src="../static/img/menu/Category-pg.jpg"
                                                             data-orig-src="../static/img/menu/Category-pg.jpg"
                                                             alt="" class="widget-menu-img">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </li>
                {% if request.endpoint == "headings" %}
                <li style="padding-right:40px!important;"><a href="/headings" class="text-menu hover">Блог</a></li>
                {% else %}
                <li style="padding-right:40px!important;"><a href="/headings" class="text-menu">Блог</a></li>
                {% endif %}
                {% if request.endpoint == "about" %}
                <li style="padding-right:40px!important;"><a href="/about" class="text-menu hover">О нас</a></li>
                {% else %}
                <li style="padding-right:40px!important;"><a href="/about" class="text-menu">О нас</a></li>
                {% endif %}
                {% if request.endpoint == "about" %}
                <li style="padding-right:40px!important;"><a href="/about" class="text-menu hover">Контакты</a></li>
                {% else %}
                <li style="padding-right:40px!important;"><a href="/about" class="text-menu">Контакты</a></li>
                {% endif %}
            </ul>

            <form class="menu-right-sticky" role="search">
                <a href="/create-article" class="button-enter-user medium menu">Запись на замер</a>
                <div class="search-icon-box-sticky">
                    <svg class="search-icon" width="800px" height="800px" viewBox="0 0 52 52"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M49.62,45.27,36.22,32a18.9,18.9,0,1,0-34.1-9.2A18.91,18.91,0,0,0,32,36.27l13.3,13.3a1.45,1.45,0,0,0,2.1,0l2.1-2.1A1.68,1.68,0,0,0,49.62,45.27Zm-28.7-11.5a12.9,12.9,0,1,1,12.9-12.9A12.87,12.87,0,0,1,20.92,33.77Z"/>
                    </svg>
                </div>
            </form>

            <div class="hamburger-menu"></div>
        </div>
    </div>
</header>

<header class="header-menu">

    <div class="container-header">
        <div class="menu-wrapper">
            <a href="/" class="menu-logo">
                <img class=img_logo1 src="/static\img\logos\logo-kd-main.png"
                     id="menu-logo" title="menu-logo"
                     alt="Лого1" aria-label="Logo">
                <use xlink:href="#"></use>
            </a>

            <ul class="menu-categories">
                {% if request.endpoint == "index" %}
                <li style="padding-right:40px!important;"><a href="/" class="text-menu hover">Главная</a></li>
                {% else %}
                <li style="padding-right:40px!important;"><a href="/" class="text-menu">Главная</a></li>
                {% endif %}
                <li style="padding-right:40px!important;">
                    <div class="menu-category-item">
                        <span class="text-menu-categories">Категории</span>
                        <span aria-label="Открыть подменю Категории" aria-expanded="false">
                            <svg class="dropdown-category-icon"
                                 width="10"
                                 height="10"
                                 viewBox="0 -10 256 256"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <polyline points="208 96 128 176 48 96" fill="none" stroke-linecap="round"
                                           stroke-linejoin="round" stroke-width="24"/>
                            </svg>
                        </span>
                        <div class="widget-menu-category">
                            <div class="widget-menu-category-holder">
                                <ul role="menu" class="widget-menu-box">
                                    <li id="menu-item-doors-mk" class="menu-item-doors-mk">
                                        <div class="widget-menu-item-title">
                                            <a class="widget-menu-title" href="http://doors-kd.ru/md/">Межкомнатные
                                                двери</a>
                                        </div>
                                        <div class="widget-menu-category-second-level">
                                            <div class="imageframe-liftup">
                                                <span class="widget-menu-imageframe">
                                                    <a class="widget-menu-lightbox" href="http://doors-kd.ru/md/"
                                                       target="_self" rel="noopener noreferrer">
                                                        <img src="../static/img/menu/Category-mk.jpg"
                                                             data-orig-src="../img/menu/Category-mk.jpg"
                                                             alt="" class="widget-menu-img">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li id="menu-item-doors-mk2" class="menu-item-doors-mk">
                                        <div class="widget-menu-item-title">
                                            <a class="widget-menu-title" href="http://doors-kd.ru/md/">Входные
                                                двери</a>
                                        </div>
                                        <div class="widget-menu-category-second-level">
                                            <div class="imageframe-liftup">
                                                <span class="widget-menu-imageframe">
                                                    <a class="widget-menu-lightbox" href="http://doors-kd.ru/md/"
                                                       target="_self" rel="noopener noreferrer">
                                                        <img src="../static/img/menu/Category-vd.jpg"
                                                             data-orig-src="../static/img/menu/Category-vd.jpg"
                                                             alt="" class="widget-menu-img">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li id="menu-item-doors-mk3" class="menu-item-doors-mk">
                                        <div class="widget-menu-item-title">
                                            <a class="widget-menu-title" href="http://doors-kd.ru/md/">Фурнитура</a>
                                        </div>
                                        <div class="widget-menu-category-second-level">
                                            <div class="imageframe-liftup">
                                                <span class="widget-menu-imageframe">
                                                    <a class="widget-menu-lightbox" href="http://doors-kd.ru/md/"
                                                       target="_self" rel="noopener noreferrer">
                                                        <img src="../static/img/menu/Category-furniture.jpg"
                                                             data-orig-src="../static/img/menu/Category-furniture.jpg"
                                                             alt="" class="widget-menu-img">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li id="menu-item-doors-mk4" class="menu-item-doors-mk">
                                        <div class="widget-menu-item-title">
                                            <a class="widget-menu-title" href="http://doors-kd.ru/md/">Погонажные
                                                изделия</a>
                                        </div>
                                        <div class="widget-menu-category-second-level">
                                            <div class="imageframe-liftup">
                                                <span class="widget-menu-imageframe">
                                                    <a class="widget-menu-lightbox" href="http://doors-kd.ru/md/"
                                                       target="_self" rel="noopener noreferrer">
                                                        <img src="../static/img/menu/Category-pg.jpg"
                                                             data-orig-src="../static/img/menu/Category-pg.jpg"
                                                             alt="" class="widget-menu-img">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </li>
                {% if request.endpoint == "headings" %}
                <li style="padding-right:40px!important;"><a href="/headings" class="text-menu hover">Блог</a></li>
                {% else %}
                <li style="padding-right:40px!important;"><a href="/headings" class="text-menu">Блог</a></li>
                {% endif %}
                {% if request.endpoint == "about" %}
                <li style="padding-right:40px!important;"><a href="/about" class="text-menu hover">О нас</a></li>
                {% else %}
                <li style="padding-right:40px!important;"><a href="/about" class="text-menu">О нас</a></li>
                {% endif %}
                {% if request.endpoint == "about" %}
                <li style="padding-right:40px!important;"><a href="/about" class="text-menu hover">Контакты</a></li>
                {% else %}
                <li style="padding-right:40px!important;"><a href="/about" class="text-menu">Контакты</a></li>
                {% endif %}
            </ul>

            <form class="menu-right" role="search">
                <a href="/create-article" class="button-enter-user medium menu">Запись на замер</a>
                <div class="search-icon-box">
                    <svg class="search-icon" width="800px" height="800px" viewBox="0 0 52 52"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M49.62,45.27,36.22,32a18.9,18.9,0,1,0-34.1-9.2A18.91,18.91,0,0,0,32,36.27l13.3,13.3a1.45,1.45,0,0,0,2.1,0l2.1-2.1A1.68,1.68,0,0,0,49.62,45.27Zm-28.7-11.5a12.9,12.9,0,1,1,12.9-12.9A12.87,12.87,0,0,1,20.92,33.77Z"/>
                    </svg>
                </div>
            </form>

            <div class="hamburger-menu"></div>
        </div>
    </div>
</header>

<header class="mobile-menu-box">
    <nav class="mobile-menu" aria-label="Главное мобильное меню" style="display: block;">
        <ul class="mobile-menu-list">
            <li class="mobile-menu-item">
                <a href="http://doors-kd.ru/" class="mobile-menu-highlight">
                    <span class="menu-text">Главная</span>
                </a>
            </li>
            <li class="mobile-menu-item">
                <a href="http://doors-kd.ru/blog/" class="mobile-menu-highlight">
                    <span class="menu-text">Блог</span>
                </a>
            </li>
            <li class="mobile-menu-item-categories">
                <div class="mobile-menu-categories">
                    <a class="mobile-menu-highlight"><span class="menu-text">Категории</span>
                    </a>
                    <a aria-label="Открыть подменю Категории" aria-expanded="false" class="indicator-dropdown-medium">
                    </a>
                </div>
            </li>
            <ul role="menu" class="mobile-sub-menu">
                <li class="mobile-submenu-item">
                    <a class="mobile-menu-highlight" href="http://doors-kd.ru/md/">- Межкомнатные двери</a>
                </li>
                <li class="mobile-submenu-item">
                    <a class="mobile-menu-highlight" href="http://doors-kd.ru/vd/">- Входные двери</a>
                </li>
                <li class="mobile-submenu-item">
                    <a class="mobile-menu-highlight" href="http://doors-kd.ru/furn/">- Фурнитура</a>
                </li>
                <li class="mobile-submenu-item">
                    <a class="mobile-menu-highlight" href="http://doors-kd.ru/pg/">- Погонажные изделия</a>
                </li>
            </ul>
            <li class="mobile-menu-item">
                <a href="http://doors-kd.ru/we/" class="mobile-menu-highlight">
                    <span class="menu-text">О нас</span>
                </a>
            </li>
            <li class="mobile-menu-item">
                <a href="http://doors-kd.ru/cocntacts/" class="mobile-menu-highlight">
                    <span class="menu-text">Контакты</span>
                </a>
            </li>
            <li class="mobile-menu-item">
                <a href="http://doors-kd.ru/zamer/" class="mobile-menu-highlight"><span
                        class="menu-text">Запись на замер</span></a>
            </li>
        </ul>
    </nav>
</header>
{% block body %}{% endblock %}
<footer class="shop-footer">
    <div class="footer-widget-area">
        <div class="footer-column1">
            <section id="text-6" class="footer-text">
                <div class="textwidget"><p><img
                        src="http://doors-kd.ru/wp-content/uploads/2019/11/Краснодеревщик6-1.png" alt="logo_footer"
                        width="160" height="86" class=""></p>
                </div>
                <div style="clear:both;"></div>
            </section>
            <section id="text-7" class="footer-widget-text">
                <div class="text-widget">Проспект Ленина 14,<br>
                    Стерлитамак, 453103<br>

                    Телефон: 8 (917) 349-14-05,<br>
                    8(3473)43-40-50<br>
                    Email: Elitehouse.str@mail.ru<br>
                    Web: Doors-kd.ru<br></div>
                <div style="clear:both;"></div>
            </section>
            <section id="social_links-widget" class="social_links-widget">
                    <div class="social-container">
                        <a data-tooltip="Vk" href="#" class="vk-icon-footer"></a>
                        <a data-tooltip="Facebook" href="#" class="facebook-icon-footer"></a>
                        <a data-tooltip="Instagram" href="#" class="instagram-icon-footer"></a>
                        <a data-tooltip="Whatsapp" href="#" class="whatsapp-icon-footer"></a>
                        <a data-tooltip="Twitter" href="#" class="twitter-icon-footer"></a>
                    </div>
            </section>
        </div>
        <div class="footer-column2">
        </div>
        <div class="footer-column3">
            <section id="recent-posts-5" class="fusion-footer-widget-column widget widget_recent_entries"><h4
                    class="widget-title" data-fontsize="15" data-lineheight="22">Свежие записи</h4>
                <ul style="padding-inline-start: 0px;">
                    <li class="footer-list">
                        <a class="text-footer-list" href="http://doors-kd.ru/2019/11/14/aenean-lobortis-sapien-enim-viverra/">Sofia в передаче
                            Квартирный вопрос: «Кухня со вкусом инжира»</a>
                    </li>
                    <li class="footer-list">
                        <a class="text-footer-list" href="http://doors-kd.ru/2019/10/18/duis-ac-massa-semper-maximus-lacus/">Идеи: необычные
                            возможности покрытия Sofia «под грунт»</a>
                    </li>
                    <li class="footer-list">
                        <a class="text-footer-list" href="http://doors-kd.ru/2019/09/09/fusce-mattis-nunc-ut-aliquam/">Как выбрать межкомнатные
                            двери</a>
                    </li>
                    <li class="footer-list">
                        <a class="text-footer-list" href="http://doors-kd.ru/2019/08/09/nunc-ferment-nulla-eu-justo/">Выбираем двери: какое
                            покрытие самое практичное?</a>
                    </li>
                    <li class="footer-list">
                        <a class="text-footer-list" href="http://doors-kd.ru/2019/07/19/aliquam-posuere-magna-eget/">Как произвести замер проёма
                            самостоятельно</a>
                    </li>
                </ul>
                <div style="clear:both;"></div>
            </section>
        </div>
        <div class="footer-column4">
            <section id="tag_cloud-6" class="fusion-footer-widget-column widget widget_tag_cloud"><h4
                    class="widget-title" data-fontsize="15" data-lineheight="22">Метки</h4>
                <div class="tagcloud"><a href="http://doors-kd.ru/tag/sofia/"
                                         class="tag-cloud-link tag-link-120 tag-link-position-1"
                                         aria-label="sofia (3 элемента)">sofia</a>
                    <a href="http://doors-kd.ru/tag/%d0%b2%d0%b0%d0%bd%d0%bd%d0%b0%d1%8f/"
                       class="tag-cloud-link tag-link-136 tag-link-position-2"
                       aria-label="ванная (1 элемент)">ванная</a>
                    <a href="http://doors-kd.ru/tag/%d0%b4%d0%b2%d0%b5%d1%80%d1%8c-invisible/"
                       class="tag-cloud-link tag-link-121 tag-link-position-3"
                       aria-label="дверь invisible (2 элемента)">дверь invisible</a>
                    <a href="http://doors-kd.ru/tag/%d0%b8%d0%b4%d0%b5%d1%8f/"
                       class="tag-cloud-link tag-link-131 tag-link-position-4" aria-label="идея (1 элемент)">идея</a>
                    <a href="http://doors-kd.ru/tag/%d0%ba%d0%b0%d0%ba-%d0%b2%d1%8b%d0%b1%d1%80%d0%b0%d1%82%d1%8c/"
                       class="tag-cloud-link tag-link-125 tag-link-position-5" aria-label="как выбрать (4 элемента)">как
                        выбрать</a>
                    <a href="http://doors-kd.ru/tag/%d0%ba%d0%b2%d0%b0%d1%80%d1%82%d0%b8%d1%80%d0%bd%d1%8b%d0%b9-%d0%b2%d0%be%d0%bf%d1%80%d0%be%d1%81/"
                       class="tag-cloud-link tag-link-118 tag-link-position-6"
                       aria-label="квартирный вопрос (1 элемент)">квартирный вопрос</a>
                    <a href="http://doors-kd.ru/tag/%d0%ba%d0%be%d0%bc%d0%bf%d0%bb%d0%b5%d0%ba%d1%82%d1%83%d1%8e%d1%89%d0%b8%d0%b5/"
                       class="tag-cloud-link tag-link-128 tag-link-position-7" aria-label="комплектующие (1 элемент)">комплектующие</a>
                    <a href="http://doors-kd.ru/tag/%d0%ba%d1%83%d1%85%d0%bd%d1%8f/"
                       class="tag-cloud-link tag-link-119 tag-link-position-8" aria-label="кухня (1 элемент)">кухня</a>
                    <a href="http://doors-kd.ru/tag/%d0%bd%d0%be%d0%b2%d0%be%d1%81%d1%82%d0%b8-%d0%bc%d0%be%d0%b4%d1%8b/"
                       class="tag-cloud-link tag-link-137 tag-link-position-9" aria-label="новости моды (1 элемент)">новости
                        моды</a>
                    <a href="http://doors-kd.ru/tag/%d0%be%d1%82%d0%b4%d0%b5%d0%bb%d0%ba%d0%b0-%d0%b4%d0%b2%d0%b5%d1%80%d0%b5%d0%b9/"
                       class="tag-cloud-link tag-link-126 tag-link-position-10"
                       aria-label="отделка дверей (4 элемента)">отделка дверей</a>
                    <a href="http://doors-kd.ru/tag/%d0%bf%d0%be%d0%bb%d0%b5%d0%b7%d0%bd%d0%be%d0%b5/"
                       class="tag-cloud-link tag-link-124 tag-link-position-11" aria-label="полезное (5 элементов)">полезное</a>
                    <a href="http://doors-kd.ru/tag/%d1%83%d1%81%d1%82%d0%b0%d0%bd%d0%be%d0%b2%d0%ba%d0%b0/"
                       class="tag-cloud-link tag-link-135 tag-link-position-12" aria-label="установка (1 элемент)">установка</a>
                    <a href="http://doors-kd.ru/tag/%d1%84%d1%83%d1%80%d0%bd%d0%b8%d1%82%d1%83%d1%80%d0%b0/"
                       class="tag-cloud-link tag-link-127 tag-link-position-13" aria-label="фурнитура (1 элемент)">фурнитура</a>
                </div>
                <div style="clear:both;"></div>
            </section>
        </div>

        <div class="fusion-clearfix"></div>
    </div>
</footer>
</body>
</html>