<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/userPanel.js') }}"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<header class="second-header-menu">
    <!--    <script type="text/javascript" src="{{ url_for('static', filename='js/alert.js') }}"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/tooltipsocial.js') }}"></script>

    <div class="second-container-header">
        <div class="second-menu-wrapper">
            <div class="social-container">
                <a data-tooltip="Vk" href="#" class="vk-icon"></a>
                <a data-tooltip="Facebook" href="#" class="facebook-icon"></a>
                <a data-tooltip="Instagram" href="#" class="instagram-icon"></a>
                <a data-tooltip="Whatsapp" href="#" class="whatsapp-icon"></a>
                <a data-tooltip="Twitter" href="#" class="twitter-icon"></a>
            </div>
            <div class="user-box">
                <div class="popup__bg" id="div1" data-some-data-attr="mydata">
                    <form class="user-popup">
                        <p><input type="text" class="input-login-user-popup" name="log" id="username" value=""
                                  placeholder="Имя пользователя"></p>
                        <p><input type="password" class="input-password-user-popup" name="pwd" id="password" value=""
                                  placeholder="Пароль"></p>
                        <p class="remember-checkbox">
                            <label for="menu-login-box-rememberme">
                                <input name="rememberme" type="checkbox" id="menu-login-box-rememberme" value="forever">
                                Запомнить меня</label></p>
                        <input type="hidden" name="login_box" value="true">
                        <p class="button-box-enter-user">
                            <input type="submit" name="submit" id="submit" class="button-enter-user" value="Войти">
                            <input type="hidden" name="redirect" value=""></p>
                        <a class="menu-login-box-register" href="#" title="Запись">Запись</a>
                    </form>
                </div>

                {% if current_user.is_authenticated %}
                <a href="#">
                    <div class="menu-user-panel">
                        <span class="menu-text">Моя учётная запись</span>
                        <a class="indicator-dropdown"></a>
                    </div>
                </a>
                {% else %}
                <a class="text-href" href="#">
                    <div class="menu-user-panel">
                        <span class="menu-text">Моя учётная запись</span>
                        <a class="indicator-dropdown" href="#"></a>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<header class="header-menu">

    <div class="container-header">
        <div class="menu-wrapper">
            <a href="/" class="menu-logo">
                <img class=img_logo1 src="/static\img\logos\logo-kd-main.png"
                     id="menu-logo" title="menu-logo"
                     alt="Лого1" aria-label="Logo">
                <use xlink:href="#"></use>
            </a>

            <ul class="menu-categories">
                <li><a href="/" class="nav-link-secondary">Обзор</a></li>
                <li><a href="/posts" class="nav-link-dark">Блоги</a></li>
                <li><a href="/headings" class="nav-link-dark">Рубрики</a></li>
                <li><a href="/about" class="nav-link-dark">О нас</a></li>
            </ul>

            <form class="menu-right" role="search">
                <a href="/create-article" class="btn-thin-small">Создать статью</a>
                <input type="search" class="form-control" placeholder="Поиск.." aria-label="Search">
            </form>
            {% if current_user.is_authenticated %}
            <div class="menu-user-panel">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src='/{{ current_user.imgpath }}' alt="mdo" width="32" height="32"
                         class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="/create-article">Новая статья...</a></li>
                    <li><a class="dropdown-item" href="/profile_settings/{{ current_user.name }}">Настройки</a></li>
                    <li><a class="dropdown-item" href="/private_profile">Профиль</a></li>
                    <hr class="dropdown-divider">
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выйти</a></li>
                </ul>
            </div>
            {% else %}
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="static\img\qwert.jpg" alt="mdo" width="32" height="32"
                         class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="/login">Войти</a></li>
                    <li><a class="dropdown-item" href="/signup">Регистрация</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</header>
{% block body %}{% endblock %}
<footer class="blog-footer">
    <p>Блог созданный для <a href="https://strbsu.ru//">ИНиТ</a> by <a href="https://twitter.com/mdo">Sleepforadream</a>.
    </p>
    <p>
        <a href="#">Наверх</a>
    </p>
</footer>
</body>
</html>