{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<main class="container">
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between container">
            <a class="p-2 link-secondary" href="/headings_law">Закон и порядок</a>
            <a class="p-2 link-secondary" href="/headings_sport">Спорт</a>
            <a class="p-2 link-secondary" href="/headings_finance">Финансы</a>
            <a class="p-2 link-secondary" href="/headings_nature">Природа</a>
            <a class="p-2 link-secondary" href="/headings_learning">Обучение</a>
            <a class="p-2 link-secondary" href="/headings_health">Здоровье</a>
            <a class="p-2 link-secondary" href="/headings_science">Наука и технологии</a>
            <a class="p-2 link-secondary" href="/headings_politic">Политика</a>
            <a class="p-2 link-secondary" href="/headings_army">Военное дело</a>
            <a class="p-2 link-secondary" href="/headings_photography">Фотографии</a>
        </nav>
    </div>
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Самые актуальные новости</h1>
            <p class="lead my-3">Последние новости собранные вместе, чтобы быстро и эффективно информировать новых
                читателей о самом интересном происходящем в мире..</p>
            <p class="lead mb-0"><a href="/posts" class="text-white fw-bold">Продолжить чтение...</a></p>
        </div>
    </div>
    {% if articles|length > 0 %}
    <div class="card-place">
        <div class="index-main-card">
            <div class="index-card">
                <div class="index-card-text">
                    <strong class="d-inline-block mb-2 text-primary">{{ article1.heading }}</strong>
                    <h3 class="mb-0">{{ article1.title }}</h3>
                    <p class="intro-author"> Автор: {{ article1.author }}</p>
                    <div class="mb-1 text-muted">{{ article1.date.date() }}</div>
                    <p class="text-index-preview-card">{{ article1.intro }}</p>
                    <a href="/posts/{{ article1.id }}" class="stretched-link">Детальнее</a>
                </div>
                <div class="img-index-preview-box">
                    <img class="bd-placeholder-img" width="200" height="250" src='{{ article1.imgpath }}'
                         role="img">
                </div>
            </div>
        </div>
        <div class="index-main-card">
            <div class="index-card">
                <div class="index-card-text">
                    <strong class="d-inline-block mb-2 text-success">{{ article2.heading }}</strong>
                    <h3 class="mb-0">{{ article2.title }}</h3>
                    <p class="intro-author"> Автор: {{ article2.author }}</p>
                    <div class="mb-1 text-muted">{{ article1.date.date() }}</div>
                    <p class="text-index-preview-card">{{ article2.intro }}</p>
                    <a href="/posts/{{ article2.id }}" class="stretched-link">Детальнее</a>
                </div>
                <div class="img-index-preview-box">
                    <img class="bd-placeholder-img" width="200" height="250" src="{{ article2.imgpath }}"
                         role="img">
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                من Популярное
            </h3>
            {% if articles|length > 0 %}
            <article class="blog-post">
                <h2 class="blog-post-title mb-1"><em>{{ article1.title }}</em></h2>
                <br>
                <p class="blog-post-meta">{{ article1.date.strftime("%d %B %Y") }} автор <a href="/profile/{{ article1.author }}">{{ article1.author }}</a></p>
                <h6><em>"{{ article1.intro}}"</em></h6>
                <hr>
                <p class="blog-text">{{ article1.text }}</p>
            </article>

            <article class="blog-post">
                <hr>
                <h2 class="blog-post-title mb-1">{{ article2.title }}</h2>
                <br>
                <p class="blog-post-meta">{{ article2.date.strftime("%d %B %Y") }} автор <a href="/profile/{{ article2.author }}">{{ article2.author }}</a></p>
                <h6><em>"{{ article2.intro}}"</em></h6>
                <hr>
                <p class="blog-text">{{ article2.text }}</p>
            </article>
            {% else %}
            <p>У нас ещё нет статей на сайте</p>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Привет читатель!</h4>
                    <p class="mb-0">Здесь публикуются самые интересные и актуальные новости со всей планеты!
                        Скорее присоединяйся к нашему сообществу! Вместе мы сможем сделать этот мир лучше!</p>
                </div>
                <div class="p-4">
                    <h4 class="fst-italic">Даты публикаций:</h4>
                    {% if articles|length > 0 %}
                    {% for date in monthsyears %}
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">{{ date }}</a></li>
                    </ol>
                    {% endfor %}
                    {% else %}
                    <p>У нас ещё нет статей на сайте</p>
                    {% endif %}
                </div>


                <div class="p-4">
                    <h4 class="fst-italic">Наши социальные сети:</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}