{% extends 'base.html' %}

{% block title %}
Рубрики
{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/registerSuccessScripts.js') }}" defer></script>
<body class="text-center">

<main class="signin-form-success">
    <div class="login_success-block">
        <img class="login-logo-image" src="/static/img/logos/cropped-Краснодеревщик6-1-270x270.png" alt="logo" width="140" height="140">
        <div class="login-success-form">
            <h1 class="login_success-title" style="background-color: #d4e5f5">Регистрация прошла успешно!</h1>
            <br>
            <hr>
            <br>
            <br>
            <a href="/login"><button class="button-enter-user submit-sample" style="margin-bottom:20px;scale: 1.1" type="submit">Авторизоваться</button></a>
        </div>
    </div>
</main>


{% endblock %}