{% extends 'private_profile.html' %}

{% block info %}

<script type="text/javascript" src="{{ url_for('static', filename='js/privateProfileSecurity.js') }}" defer></script>


<div class="profile-info-box">
    <div class="user-title">
        <h2 class="profile-title-text">
            {% if current_user.imgPath == None %}
            Пользователь "{{ current_user.nickName }}"
            {% else %}
            <img class="user-img-profile" src='/{{ current_user.imgPath }}' alt="mdo" width="64" height="64">
            Пользователь "{{ current_user.nickName }}"
            {% endif %}
        </h2>

        {% if error == "Изменения успешно сохранены" %}
        <div class="success-register-block">
            <p class="success-register">{{ error }}</p>
        </div>
        {% elif error != "" or error == None %}
        <div class="error-register-block">
            <p class="error-register">{{ error }}</p>
        </div>
        {% else %}
        <div class="error-register-block" style="display:none;">
            <p class="error-register">{{ error }}</p>
        </div>
        {% endif %}
        <hr>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="user-info">
            <p><b>Телефон:</b><input type="text" name="phoneNumber" id="phoneNumber" class="input-form"
                                     value="{% if current_user.phoneNumber == None %}{% else %}{{ current_user.phoneNumber }}{% endif %}"
                                     placeholder="Введите свой телефон (Пример: 89871234567)">
                <span class="error-input-phoneNumber" style="margin-left: 15px;margin-top: 10px;margin-bottom: -5px;">Некорректный мобильный телефон. Должно быть 11 цифр</span>
            </p>
            <hr>
            <p><b>Email:</b><input type="text" name="email" id="email" class="input-form"
                                   value="{{ current_user.email }}"
                                   placeholder="Введите свой email"></p>
            <hr>
            <p><b>Пароль:</b><input type="password" name="password" id="password" class="input-form"
                                    value="{{ current_user.hidePassword }}" readonly spellcheck="false"
                                    style="background-color: unset;">
            <p class="profile-submit-box" style="display:flex;justify-content: space-between;margin-bottom:0;">
                <a class="button-enter-user default" type="button">Изменить пароль</a>
            </p>
            <span id="error-nickName" class="error-input-nickName"
                  style="margin-left: 15px;margin-top: 10px;margin-bottom: -5px">Никнейм уникален и отредактировать его невозможно. Вы можете зарегистрировать новый</span>
            <hr>
            <div class="edit-password-menu">
                <p><b>Старый пароль:</b><input type="password" name="oldPassword" id="oldPassword" class="input-form"
                                               placeholder="Введите текущий пароль"></p>
                <hr>
                <p><b>Новый пароль:</b><input type="password" name="newPassword" id="newPassword" class="input-form"
                                              placeholder="Введите новый пароль"></p>
                <hr>
                <p><b>Повторите пароль:</b><input type="password" name="repeatNewPassword" id="repeatNewPassword"
                                                  class="input-form"
                                                  placeholder="Повторите новый пароль"></p>
                <hr>
            </div>
            <p class="profile-delete-box"><a class="button-enter-user danger">Удалить этот аккаунт</a>
            </p>
            <hr>
            <p class="profile-submit-box" style="display:flex;justify-content: space-between;margin-bottom:0;">
                <input type="submit" class="button-enter-user" value="Сохранить изменения">
                <a href="/" class="button-enter-user warning" type="button">Отмена</a>
            </p>
        </div>
        <div class="modal-password-popup" tabindex="-1" role="dialog" aria-labelledby="modal-heading"
             aria-hidden="false">
            <div class="modal-password-dialog">
                <div class="modal-password-content" style="background-color:#f6f6f6">
                    <div class="modal-header">
                        <button class="modal-close-button" type="button" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h3 class="modal-title" id="modal-heading-1" data-dismiss="modal" aria-hidden="false"
                            data-fontsize="16" data-lineheight="30">Подтвердите удаление аккаунта</h3></div>

                    <div class="modal-password-body">
                        <input type="password" name="confirmDelete" id="confirmDelete"
                               class="input-form"
                               placeholder="Введите пароль для удаления аккаунта">
                        <br>
                        <br>
                        <p class="profile-submit-box"
                           style="display:flex;justify-content: space-between;margin-bottom:0;justify-content: flex-end;">
                            <input type="submit" class="button-enter-user danger" name="confirmDeleteButton"
                                   id="confirmDeleteButton" value="Удалить" style="margin-right: 10px;">
                            <a class="button-enter-user warning" type="button" name="cancelDeleteButton"
                               id="cancelDeleteButton">Отмена</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}