{% extends 'private_profile.html' %}

{% block info %}
<div class="profile-info-box">
    <div class="user-title">
        <h2 class="profile-title-text">
            {% if current_user.imgPath == None %}
            Пользователь "{{ current_user.nickName }}"
            {% else %}
            <img class="user-img-profile" src='/{{ current_user.imgPath }}' alt="mdo" width="64" height="64">
            Пользователь "{{ current_user.nickName }}"
            {% endif %}
        </h2>
        <hr>
    </div>
    <div class="user-info">
        <p><b>Телефон:</b><input type="tel" name="phoneNumber" id="phoneNumber" class="input-form"
                                 pattern="[8]{1}[0-9]{10}" maxlength="11"
                                 value="{% if current_user.phoneNumber == None %}{% else %}{{ current_user.phoneNumber }}{% endif %}"
                                 placeholder="Введите свой телефон (Пример: 89871234567)">
            <span class="error-input-phoneNumber" style="margin-left: 15px;margin-top: 10px;margin-bottom: -5px;">Некорректный мобильный телефон. Должно быть 11 цифр</span>
        </p>
        <hr>
        <p><b>Email:</b><input type="email" name="email" id="input-email" class="input-form"
                               value="{{ current_user.email }}"
                               placeholder="Введите свой email"></p>
        <hr>
        <p><b>Пароль:</b><input type="password" name="password" id="password" class="input-form"
                                  value="{{ current_user.hidePassword }}" readonly spellcheck="false"
                                  style="background-color: unset;">
            <span id="error-nickName" class="error-input-nickName"
                  style="margin-left: 15px;margin-top: 10px;margin-bottom: -5px;">Никнейм уникален и отредактировать его невозможно. Вы можете зарегистрировать новый</span>
        </p>
        <hr>
        <p><b>Старый пароль:</b><input type="password" name="password" id="input-password" class="input-form"
                                       value="{{ current_user.password }}"
                                       placeholder="Введите новый пароль"></p>
        <hr>
        <p><b>Новый пароль:</b><input type="password" name="password" id="input-password2" class="input-form"
                                      value="{{ current_user.password }}"
                                      placeholder="Введите новый пароль"></p>
        <hr>
        <p><b>Повторите пароль:</b><input type="password" name="password2" id="input-password3" class="input-form"
                                          value="{{ current_user.password }}"
                                          placeholder="Повторите новый пароль"></p>
        <hr>
        <p class="profile-delete-box"><a href="/profile_settings/{{ current_user.nickName }}/delete"
                                         class="button-enter-user danger">Удалить этот
            аккаунт</a>
        </p>
        <hr>
        <p class="profile-submit-box" style="display:flex;justify-content: space-between;margin-bottom:0;">
            <input type="submit" class="button-enter-user" value="Сохранить изменения">
            <a href="/" class="button-enter-user warning" type="button">Отмена</a>
        </p>
    </div>
</div>
{% endblock %}