{% extends 'base.html' %}

{% block title %}
Настройки профиля
{% endblock %}

{% block body %}
<div class="container profile-main">
    {% if error != "" %}
    <div class="error-register-block">
        <p class="error-register">{{ error }}</p>
    </div>
    {% endif %}
    <div class="user-title">
        <hr>
        <br>
        <h2><img class="user-img-profile" src='/{{ current_user.imgpath }}' alt="mdo" width="64" height="64">
            Профиль пользователя "{{ current_user.name }}"
        </h2>
        <hr>
    </div>
    <div class="user-info">
        <form method="post" enctype="multipart/form-data">
            <div class="select-headings">
                <div class="image-upload-heading">
                    <div class="image-selector">
                        <img class="user-img-profile" src='/{{ current_user.imgpath }}' alt="mdo" width="64"
                             height="64">
                        <label class="label-upload-image" for="img">Изменить фотографию профиля:</label>
                        <input class="button-upload-image" type="file" name="img" id="img"
                               accept="image/jpeg,image/png">
                    </div>
                </div>
            </div>
            <hr>
            <b>Имя:</b><input type="text" name="name" id="name" class="form-control2"
                              value="{{ current_user.name }}"
                              placeholder="Введите свое имя">
            <hr>
            <b>Email:</b><input type="email" name="email" id="email" class="form-control2"
                                value="{{ current_user.email }}"
                                placeholder="Введите email">
            <hr>
            <p><b>Изменить пароль:</b></p>
            <p>Новый пароль:</p>
            <input type="password" name="password" id="password" class="form-control2"
                   placeholder="Введите новый пароль" value="">
            <input type="password" name="password2" id="password2" class="form-control2"
                   placeholder="Повторите новый пароль" value="">
            <hr>
            <b>Информация о пользователе:</b>
            <br>
            <textarea style="width:100%; height:10em;" name="info" id="info" class="form-control2"
                      placeholder="Введите информацию о себе">{{ current_user.info }}</textarea>
            <hr>
            <a><b>Статьи:</b>
                {% for article in articles %}
                {% if article.author == current_user.name %}
                <a href="/posts/{{ article.id }}"> {{ article.title }}</a>
                {% endif %}
                {% endfor %}
                <br>
                <br>
                <a href="/create-article" class="btn btn-change">Новая статья</a>
            </a>
            <hr>
            <p><b>Дата регистрации:</b> {{ current_user.date.date() }}</p>
            <hr>
            <br>
            <div class ="profile-submit-box">
                <div class="upload-image">
                    <input type="submit" class="btn btn-submit" value="Сохранить изменения">
                    <a href="/" class="btn btn-danger reset-button" type="button">Отмена</a>
                </div>
                <div>
                    <a href="/profile_settings/{{ current_user.name }}/delete" class="btn btn-danger">Удалить этот
                        аккаунт</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}